.image-container {
    position: relative;
    display: inline-block;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: rgb(137, 136, 143);
    font-size: 10vh;
    font-weight: bold;
    text-align: left;
    padding: 5vh;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .text-overlay {
      font-size: 6vh;
      padding: 3vh;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -40%);
    }
  }
  
  @media (max-width: 480px) {
    .text-overlay {
      font-size: 5vh;
      padding: 2vh;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -30%);
    }
  }
  
  .cls-button {
    background-color: aliceblue;
    color: black;
    font-size: 20px;
    border: none;
    margin-left: 20px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .cls-button {
      font-size: 18px;
      margin-left: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .cls-button {
      font-size: 10px;
      margin-left: 5px;
    }
  }
  
  
  
  
  
  
  
  
  .cls-button:hover {
    background-color: rgba(27, 26, 26, 0.9);
    color: white;
  }
  

  
  .div-m-2{
    padding: 5vh;
    
  }
  /* .card-hover-effect:hover {
    background-color: #f8f8f8;
    transform: scale(1.05);
    transition: background-color 0.3s, transform 0.3s;
  } */
  .card-hover-effect {
    /* Define initial styles for the card */
    transition: transform 0.3s ease;
  }
  
  .card-hover-effect:hover {
    /* Define the hover styles for the card */
    transform: scale(1.05);
  }
  
  .card-image-container {
    /* Set overflow property to hide any overflowing content */
    overflow: visible;
  }
  
  .card-image {
    /* Increase the size of the image */
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .card-image:hover {
    /* Increase the size of the image on hover */
    transform: scale(1.2);
  }
  
  
.card-image1 {
 
  /* width: 100%; */
  height: auto;
  transition: transform 0.3s ease;
}

/* .card-image1:hover {
  transform: scale(1.2);
} */
.catetory-div{
  padding: 7vh;
 
}
.card-with-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;/* add a smooth transition effect */
  z-index: 1; /* Set a higher z-index to bring the hovered card to the top */

}
.card-container {
  position: relative;
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: transform 0.2s ease-in-out;
}

.card-container:hover {
  transform: scale(1.05);
}
.card-img-top {
  transition: transform 0.2s ease-in-out;
}

.card-container:hover .card-img-top {
  transform: scale(1.1);
}

.card-body {
  padding: 1rem;
}


@media (max-width: 767.98px) {
  .border-sm-start-none {
    border-left: none !important;}}



    .button-container {
      display: flex;
      gap: 10px; /* Adjust the value to control the spacing */
    }
    .card-container1 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh; /* Adjust the height according to your layout */
    }
    .btn-cls{
      width: 20vw;
    }
    /* table, th, td {
      border:1px solid black;
    } */
    .form-width{
      display: flex;
      width: 50vw;
      height: 25vh;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
        background-color: transparent;
        border-color: transparent;
        width: 100%;
  
    }
    
    th, td {
      padding: 10px;
    }
    
  
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    tr:hover {
      background-color: #e8e8e8;
    }
  
       
    body {
      background-color: #fbfbfb;
    }
    @media (min-width: 991.98px) {
      main {
        padding-left: 240px;
      }
    }
    
    /* Sidebar */
    body {
      background-color: #fbfbfb;
      }
      @media (min-width: 991.98px) {
      main {
      padding-left: 240px;
      }
      }
    

      .dark {
      border-radius: 5px;
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
      }
      
      .sidebar-sticky {
      position: relative;
      top: 0;
      height: calc(100vh - 48px);
      padding-top: 0.5rem;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      }
      .admin-style{
         width: 100%;
          margin-Bottom: 10px;
           padding: 5px
      }
      .bg {
        background-image: url('https://img.freepik.com/free-vector/realistic-fog-background_23-2149115272.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
      /* .bgg{
     background-image: url("https://images.freeimages.com/images/large-previews/de4/my-red-shoe-1197221.jpg");
     background-repeat: no-repeat;
     background-size: cover;
   height: 100vh  ;
    
    } */